<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>    
    <link href="../../static/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="../../static/css/5.3/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <script href="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <title>{{parametros.title}}</title>
  </head>

  <body class="sb-nav-fixed">
    
    <div id="layoutSidenav">
      {% include "templates/menuLeft.html" %}

      <div id="layoutSidenav_content">

        <div class="container-fluid md-12">

          <main>
            {% block content %}{% endblock %}
          </main>

        </div>

        <!-----Fim Páginas filhas ----->

        {% include "templates/footer.html" %}
      </div>

      <!-----Fim Páginas filhas ----->
    </div>

    <script src="../../static/js/jquery-3.7.1.slim.min.js"></script>
    <script src="../../static/js/axios-1.6.8.min.js"></script>
    <script src="../../static/js/siad.js"></script>
    <script src="../../static/js/jquery-3.7.1.slim.min.js"></script>
    <script src="../../static/js/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.4/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <!-- Alpine.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.3/dist/cdn.min.js" defer="defer"></script>

  </body>

</html>